.show-for-small {
  display:none;
}
.hidden {
  visibility: collapse;
}
.row {
  width:100%;
  overflow:hidden;
  margin-bottom: 1em;
  margin-top: 1em;
  display: block;
}
#foss-list .row {
  margin:0 0 -1px -1em;
}
.row::after {
  clear:both;
}
.half-page {
  width:50%;
  box-sizing: border-box;
  float:left;
}
.half-page img.mid-container {
  width: 50%;
  display: block;
  position: relative;
  margin: auto;
}

@media screen and (max-width: 1680px) {
}
@media screen and (max-width: 960px) {
  .panel {
    padding:1em 1em;
  }
  #intro.panel {
    padding:6em 0;
  }
  #intro .welcome-content {
    padding:1em;
  }
  .hide-for-medium{
    display:none !important;
  }
  .half-page {
    width:100%;
  }
  header {
    width:102vw;
    margin-left:-52vw;
  }
  nav {
    min-height:3.2em;
    padding:0 1em;

  }
  nav a {
      margin-top:1em;
    font-size:0.6em;
  }
  #notification {
    box-sizing: border-box;
    padding:0 2em;
  }
  #whatwedo article {
    width:100%;
  }
  #whatwedo article p {
    padding-left:2em;
    padding-right:2em;
  }
  #whatwedo article h3 {
    padding-left:4em;
    font-size:1.2em;
    line-height: 2em;
  }
  #whatwedo article .icon {
    margin-left: -1em;
  }
  #prices .price-box {
    width:100%;
    min-height:auto;
    border-bottom: solid 1px rgba(200,200,200,.65);
  }
  #prices .price-box .price-total {
    position:relative;
  }
  #contact .split section:first-child,
  #contact .split section:last-child
  {
    width:100%;
  }
  #contact .split section ul {
    padding-left:0.4em;
  }
  #footer section {
    width:50%;
  }
  #footer section.friends {
    width:40%;
  }
  #foss-list .foss-item {
    width:33.333%;
    min-height:18em;
  }
  body, .panel.style-1
   {
    background-position: left top;
  }
  ul {
  padding-left:1em;}
}

}
@media screen and (max-width: 736px) {
  ol {
    padding-left:0;
  }
  #privacy-policy {
    font-size:0.9em;
  }
  #privacy-policy li ol {
    padding-left:0;
    padding-right:0;
  }
}
@media screen and (max-width: 640px) {
    ol#privacy-policy {
        padding-right:0;
        padding-left:0;
        font-size:0.8em;

    }
    ol#privacy-policy ol {
        padding-right: 0;
        padding-left:0;
    }
    ol#privacy-policy li {

        padding-left:0;

    }
}
@media screen and (max-width: 480px) {
    #intro h1 {
      font-size: 1em;
    }
    .hide-for-small {
      display:none !important;
    }
    .show-for-small {
      display:inline-block;
    }
    #footer section {
      width:100%;
    }
    #footer section.friends {
      width:100%;
      margin-left:0;
    }
    #foss-list .foss-item {
      width:100%;
      min-height:auto;
}
@media screen and (max-width: 366px) {
    #intro .inner.welcome-content .contact-links .button {
	    font-size:0.8em !important;

    }
}
