@font-face {
    font-family: "Josefin Sans";
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff'),url('../fonts/JosefinSans-Regular.woff') format('woff'),url("../fonts/JosefinSans-Regular.ttf") format("truetype");
    font-display: swap;
}
h1, h2, h3, h4, h5, .top-bar {
    font-family: 'Josefin Sans', Arial;
}
body
{
    background-color:#dfe1e5;
    background-attachment: fixed;
    background-image: url("/images/boardgrey-s.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: left bottom;

}
#sidebar nav > ul > li.riser.waiting a{
  transform: translateY(50px);
}
#sidebar nav > ul > li.riser.loaded a {
    transition: opacity 2s ease, transform 2s ease;
    transition-delay: .45s;
    transform: translateY(0px);
}
#sidebar nav > ul > li.riser.loaded:nth-child(2) a {
    transition-delay: .65s;
}
#sidebar nav > ul > li.riser.loaded:nth-child(3) a {
    transition-delay: .85s;
}
#sidebar nav > ul > li.riser.loaded:nth-child(4) a {
    transition-delay: 1.05s;
}
#sidebar nav > ul > li.riser.loaded:nth-child(5) a {
    transition-delay: 1.25s;
}
#sidebar nav > ul > li.riser.loaded:nth-child(6) a {
    transition-delay: 1.45s;
}

#sidebar nav ul li a::after{
  min-width:0;
  float:right;
  border-bottom:0.4em solid #17c0ef;
  display:block;
  transition: min-width 0.7s;
}
#sidebar nav ul li a:hover::after,
#sidebar nav ul li a.inview::after {
  min-width:100%;
}
#notification {
  z-index:10;
}
#notification.riser.waiting {
  transform: translateY(-60px);
}
#notification.riser.loaded {
  transition:  transform 2s ease;
  transition-delay: 3s;
  transform: translateY(0px);
}
section .riser.waiting {
  opacity:0;
  transform: translateY(10%);
}
section .riser.loaded {
    transition: opacity 1.5s ease, transform 1.5s ease;
    opacity:1;
    transform: translateY(0px);
}

.wrapper {
    color:#eee;
}
.wrapper .inner {
     padding-top:8em;
}
#wrapper #intro .inner {
     padding-top:5em;
}

@keyframes slowbounce {
  0%   {top:0px;}
  50%  {top:20px;}
  100% {top:0px;}
}
.next-section {
  margin: auto;
  animation-name: slowbounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-align: center;
  line-height:10em;
  position:relative;

}
.next-section a {

  font-size: 10em;
  color:#001e50;
  transition: color 0.4s, opacity 0.4s;
    opacity:0.25;
}
.next-section a:hover{
  color:#445f94;
    opacity:0.85;
}
.next-section a::after {
  content: "\1F893";
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.clear, .clearfix {
    clear:both;
}
.box-shadow {
    box-shadow: 4px 4px 2px #333;
}
#intro ul.actions li
{
    padding:0;
}
#intro .button
{
    font-size:1em;
    padding:1em;
    line-height:2.75em;
    height:auto;
    padding: 0.7em;
    line-height:initial;
    margin: 0 0 1em 0;
    font-family: "Josefin Sans", "Arial";
    text-transform: lowercase;
}
#intro .button i{
    font-size:2em;
    position: relative;
    top: 0.20em;
}
#intro .clist li {
  margin-right:10px;
  margin-left:10px;
}
.button.grey {
    color: #000 !important;
    border-color: #666 !important;
}
.button.grey:hover {
    background:rgba(223,223,223,0.6);
    border-color: #000 !important;

}
#sidebar {
    background:#001e50;
}
#intro {
    color:#333;
    height: calc(100vt-3.5em);
}
#intro p {
    font-size: 1.4em;
}
.logo-container {
    margin:auto;
    position:relative;
    display:block;
    margin-top:7em;
    margin-bottom:0;

}
.logo-container .img-logo {
    max-height:300px;
    width:100%;
    overflow:hidden;
    left:0;


}
.logo-container .img-logo-div {
    background-image:url("/images/wilde-it-logo-long.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    height:300px;
    min-width: 120em;
    width:100%;
    display:block;
    margin:auto;
}


.welcome-content {
    width:32%;
    margin:auto;

}

.welcome-content .actions {
    text-align: center;
}



.welcome-content p {
    text-align: center;
    font-family: 'Josefin Sans', Arial;

}
.wrapper.style1 {
    background:transparent;
}
.wrapper.style1 h2{
    color:#001e50;
}
.wrapper.style3 {
    background: #001e50;
    background-attachment: fixed;
    background-image: url("/images/boardblue-s.svg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: left bottom;
    color:#fff;

}
.icon {
  background:url("/images/icons.svg");
  background-size:300%;
  background-repeat: no-repeat;
}
.icon.mastodon{
  display: block;
  width: 32px;
  height: 32px;
  background-position: 100% 0 ;
}
.wrapper .icon.major{
  mask-image:url("/images/icons.svg");
  -webkit-mask-image:url("/images/icons.svg");
  mask-size:300%;
  -webkit-mask-size:300%;
  mask-clip:fill-box;
  -webkit-mask-clip:fill-box;
  mask-repeat:no-repeat;
  -webkit-mask-repeat:no-repeat;
}
.wrapper .icon.major::before {
    color:#1f4087;

}
.wrapper .icon.major.computer {

  mask-position: 0 50%;
  -webkit-mask-position: 0 50%;

}
.wrapper .icon.major.security {
  mask-position: 0 0;
  -webkit-mask-position: 0 0;
}
.wrapper .icon.major.network {
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
}
.wrapper .icon.major.backup {
  mask-position: 50% 0;
  -webkit-mask-position: 50% 0;
}
.wrapper .prices .icon.major{
  mask-image:url("/images/icons2.svg");
  -webkit-mask-image:url("/images/icons2.svg");
  mask-size:200%;
  -webkit-mask-size:200%;
  background:#001e50;
  float:right;
}
.wrapper .prices .icon.major::after {
  clear:both;
}
.wrapper .icon.major.routine {
  mask-position: 0 100%;
  -webkit-mask-position: 0 100% ;
}
.wrapper .icon.major.remote {
  mask-position: 100% 100%;
  -webkit-mask-position: 100% 100%;
}
.wrapper .icon.major.urgent {
  mask-position: 0 0;
  -webkit-mask-position: 0 0;
}
.wrapper .icon.major.project {
  mask-position: 100% 0;
  -webkit-mask-position: 100% 0;
}

.service-icon {
  padding:5px;
  max-width: 100%;
  height: auto;
}
.wrapper.style2 {

    background-attachment: fixed;
    background-image: url("/images/boardblue2-opt.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 200%;
    background-position: left bottom;


}

#what p, #services p {
  font-size:0.8em;
}
.prices {
  border: solid 1px rgba(200, 200, 200, 0.65);
  border-radius:.25em;
  background:rgba(245,255,255, 0.15);
  overflow:hidden;
}
.prices h5 {
  color:#222;
}
.prices .price-box {
    text-align:center;
    float:left;
    color:#333;
    position:relative;
    width:33.3333%;
    height:33.3333%;
    border-right:  solid 1px rgba(200, 200, 200, 0.65);
}
.prices .price-box:last-child {
  border-right:0;
}
.prices .price-box.full {
  border-top: solid 1px rgba(200, 200, 200, 0.65);
  width:100%;

  border-right:  0;
}
.prices .price-header {
    padding: 1em 0 0 0;
}
.prices .price-header h3 {
    color:#333;
    margin-bottom:0;
}

.prices .price-content {
    padding:0 2em 1.5em;
}


.prices .price-box .price-total {
    padding-top:1.5em;
    padding-bottom:1em;
    position:absolute;
    bottom:0;
    text-align: center;

    display:block;

    width:100%;
}
.prices .price-total h5 {
  margin-bottom:0;
  font-weight:lighter;
}

#services .caveat {
    font-size: 0.7em;
    color:#333;
}

#contact {

}
#contact .inner {
  padding-bottom:1em;
}
#contact a:hover {
  color:#556ba6;
}
/* MAIN CONTENT */
.main-content
{
    color:#222;
    background:rgba(255,255,255,0.9);
    padding:2em;}
.main-content p{
    font-size:0.9em;
    color:#222;
    margin:0;
}
.main-content strong {
    color:#222;
}
.main-content a:hover{
    color:#556ba6;
}
.main-content hr {margin:0;}
.main-content h1,.main-content h2,.main-content h3,.main-content h4,.main-content h5,.main-content p, .main-content b
{
    color:#222;
}
.main-content ul {
  padding-left: 0;
}
.main-content ul li {
  font-size:0.8em;
  list-style-type: none;
  padding-left: 0;
  transition:color 0.3s;
}
.main-content ul li:hover {
  color:#556ba6;
  cursor:default;
}
.main-content ul li:hover ul li {
  color:initial;
}
.main-content ul li ul {
  margin-bottom:0;
}
.main-content ul li ul li {
  font-size:0.9em;
  padding-left:1em;
}
.main-content ul li ul li:hover {
  color:#556ba6;
  cursor:default;
}
.main-content ol, .main-content ul {
  margin-bottom:1em;
}
.main-content ol li
{
  font-size:0.9em;
}
.news ul li {
  margin-left: 1em;
  list-style-type: circle;
}
.kb {
  font-size:0.8em;
}
.kb .article-list {
  padding-top: 1em;
  width:100%;
}
.kb .article-list .post-item{
  padding:0.5em;
  padding-bottom: 1em;

  background:rgba(200,200,255,0.15);
  margin-bottom:1em;
  border-top:1px solid #001e50;
  transition:background 0.5s;
}
.kb .article-list .post-item:hover{
  background:rgba(200,200,255,0.55);
}
.kb .article-list .post-item a {
  width:100%;
  height:100%;
  display:block;
}
.kb .article-list .post-title {
  font-size:1em;

}
.kb .article-list .post-summary {
  font-size:0.9em;
}
.kb .article-list .post-date {
  font-size:0.7em;
  float:right;
  bottom:0.5em;
  right:0.5em;
  position:relative;
}
.kb .kb-side-content .article-list .post-item {

  padding-bottom:0.5em;

}
.kb .kb-side-content .article-list .post-date {
bottom:0;
right:0;
float:none;
text-align:right;

}
.post-date {
  text-align:right;
  float:right;
}

.post-date::after {
  clear:both;
}
.kb .main-content p,.kb .main-content pre, .kb .main-content code {
  font-size:0.9em;
}
.kb .main-content pre {
  background:#eee;
  padding:0.5em;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.kb .main-content code {
  background:#eee;
}
.kb hr{
  margin-bottom:0.5em;
}
.kb .main-content h1, .kb .main-content h2, .kb .main-content h3, .kb .main-content h4, .kb .main-content h5 {
  margin-top:1em;
}
.kb .main-content h1 {
  font-size:1.4em;
}
.kb .main-content h2 {
  font-size:1.2em;
}
.kb .main-content h3 {
  font-size:1.0em;
}
.kb .main-content h4 {
  font-size:0.8em;
}
.kb .main-content h5 {
  font-size:0.7em;
}
.kb .archive p,
.main-content .archive ul li {
  font-size:0.7em;
}
.main-content .archive ul li {
 padding-left:0.5em;
}

.main-content.kb-content {
  width:65%;
  float:left;
}
.main-content.kb-side-content {
  width:30%;
  margin-left:5%;
  float:left;
}
.main-content.kb-side-content::after{
  clear:both;
}
.spotlights > section > .content.noimage
{
    width:100%;
}
h2.major {
    margin: 0 0 1.3em 0;
    position: relative;
    padding-bottom: 0.35em;
}

h2.major:after {
    background-image: -moz-linear-gradient(to right, #002068, #10bcd3);
    background-image: -webkit-linear-gradient(to right, #002068, #10bcd3);
    background-image: -ms-linear-gradient(to right, #002068, #10bcd3);
    background-image: linear-gradient(to right, #002068, #10bcd3);
    -moz-transition: max-width 0.2s ease;
    -webkit-transition: max-width 0.2s ease;
    -ms-transition: max-width 0.2s ease;
    transition: max-width 0.2s ease;
    border-radius: 0.2em;
    bottom: 0;
    content: '';
    height: 0.05em;
    position: absolute;
    right: 0;
    width: 100%;
}
.cell {
  float:left;
}
.half-page {
  max-width:50%;
  margin:0;
}
.half-page-margins {
  margin:2%;
}
hr{
  border-bottom-width: 1px;
  border-color: #556ba6;
  margin-bottom:1em;
}
.mid-container {
  width:50%;
  display:block;
  position:relative;
  margin:auto;
}

.privacy-policy ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}

.privacy-policy ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}

.privacy-policy ol > li:before {
    content: counters(item, ".") ": ";
    display: table-cell;
    padding-right: 0.6em;
}

.privacy-policy li ol > li {
    margin: 0;
}

.privacy-policy li ol > li:before {
    content: counters(item, ".") ": ";
}
.privacy-policy .heading {
    font-size:1.2em;
    font-weight:bold;
}

.list-statement {
    font-size:1.2em;
}

/* Form */

#form-contact-form {
    margin: 0 0 2em 0;
}

#form-contact-form .field {
    margin: 0 0 1em 0;
}

#form-contact-form .field.half {
    width: 50%;
    float: left;
    padding: 0 0 0 0.75em;
}

#form-contact-form .field.half.first {
    padding: 0 0.75em 0 0;
}

#form-contact-form > .actions {
    margin: 2em 0 0 0 !important;
}

.osbox
{
    border:1px solid #001048;
    margin:1em;
    padding:1em;
    display:block;

    float:left;

}
.osbox:hover
{
    background:rgba(200,200,200,0.8);
}
.osbox img
{
    margin-bottom:1em;
}
ul li.last {
  float:right;
}
.col-box {
  width:100%;
}

.col-box .col-2, .col-box .col-3, .col-box .col-3, .col-box .col-4, .col-box .col-5 {
  float:left;
}
.col-box .col-2 {
  width:50%;
}
.col-box .col-3 {
  width:66.66666666%;
}
.col-box .col-4 {
  width:25%;
}
.col-box .col-5 {
  width:20%;
}


@media screen and (max-width: 736px) {

    #form-contact-form .field.half {
        width: 100%;
        float: none;
        padding: 0;
    }

    form .field.half.first {
        padding: 0;
    }

}

#contact-main-form
{
    transition: 1s all;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
    display:block;
    overflow:hidden;
    border-radius:15px;
}
.height-zero {
    height:0;
}
/* FOOTER */
#footer .inner {
  padding-top:2em;
  padding-bottom:1em;
}
#footer .inner .menu {
  color: rgba(255, 255, 255, 0.5);
}
#footer 	ul {
	list-style: none;
  margin:0;
  vertical-align: top
}
#footer p, #footer li:last-child {
  margin-bottom:0;
}
#footer .friends a {
  margin-top:1em;
  display:block;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea
{
    background: rgba(255, 255, 255, 0.55);
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, select:focus, textarea:focus
{
    color:#333;
}
#notification{
    position:fixed;
    top:3.5em;

    text-align: center;
    width:100%;
    display:block;
        background:#556ba6;


}
#notification .message {

    -moz-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
    border: 0;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.25em;
    line-height: 1.75;
    outline: 0;
    padding: 1.35em 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin-left:1em;
    margin-right:1em;

}
ul.site-index {
    margin-left:0;
    padding-left:0;
}
ul.site-index > li
{
    margin-left:0;
    padding-left:0;
    margin-bottom:0.3em;
}
.text-center {
  text-align: center;
}
.foss-list {
  width:100%;
}
.foss-list .foss-item {
  /* width:16.666666%; */
  width:20%;
  text-align: center;
  float:left;
}
.foss-list .foss-item .foss-link .foss-image img {
  height:4.5em;
  transition: height 0.5s;
  max-width:100%;
}
.foss-list .foss-item .foss-link:hover .foss-image img {
  height:5em;
}
.foss-list .foss-item .foss-title {

}
.foss-list .foss-item .foss-link .foss-title h3 {
  transition: color 0.5s;
}
.foss-list .foss-item .foss-link:hover .foss-title h3 {
  color:#a3a3a3;
}

.foss-list .foss-item .foss-text p {
  font-size:0.6em;
}
.row{
  margin-bottom:1em;
  margin-top:1em;
  display:block;
}
.row::after, .w-row::after {
  clear:both;
}
.limit-width-30{
  max-width:30%;
}
.show-for-small {
  display:none;
}
ul.pagination li {
  display:inline-block;
  margin-right:0.5em;
  border-radius: 0.2em;
  transition:all 0.5s;
}
ul.pagination li:hover {
  background:#ccc;
}
ul.pagination li a {

  padding:0.2em 0.5em;
  color:var(--text);
}
ul.pagination li:hover a {
  color:#555;
}
ul.pagination li.active a {
  font-weight: bold;
}
ul.pagination li.disabled a {
  color:#ccc;
}
ul.pagination li.disabled:hover {
  background: none;
  color:var(--text) !important;
}
