@font-face {
    font-family: "Josefin Sans";
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff'),url('../fonts/JosefinSans-Regular.woff') format('woff'),url("../fonts/JosefinSans-Regular.ttf") format("truetype");
    font-display: swap;
}
:root {
    --light-accent: #17c0ef;

}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #000000;
    --accent: #556ba6;
  }
  img, video {
	  opacity: 1;  
  }
}
body {
  background-color:#dfe1e5;
  background-attachment: fixed;
  background-image: url("/images/boardgrey-s.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: left bottom;
  max-width: 100vw;
  padding:0;
}
h1 {
    font-size:1.2em;
}
h2 {
    font-size:1.1em;
}
h3 {
    font-size:1.0em;
}
h4 {
    font-size:0.8em;
}
h5 {
    font-size:0.6em;
}
h1, h2, h3, h4, h5, .top-bar {
    font-family: 'Josefin Sans';
  }

header {
  background: #001e50;
  padding:0;
  position:fixed;
  z-index:999;
  display:block;
}
a, nav a {
  border:none;
  text-decoration: none;
  transition:all 0.5s;
}
a:hover {
  color: var(--text) !important;
}
nav {
  padding:0;
  min-height:4em;
  overflow: hidden;
  display:block;
}
nav a {
  color:rgba(255,255,255,.35) !important;
  font-size: .7em;
  font-weight: bold;
  letter-spacing: .35em;
  text-transform: uppercase;
  line-height:3em;
}
nav a:hover {
  color: rgba(255,255,255,.55) !important;
}
nav a::after {
  content:"";
  min-width:0;
  float:right;
  border-bottom:0.4em solid #17c0ef;
  display:block;
  transition: min-width 0.7s;
}
nav a:hover::after,
nav a.inview::after {
  min-width:100%;
}
nav a:last-child {
  margin-right:0;
}

.home nav a.slink {

  animation: slideUp 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  /* will-change:transform; */
  visibility: collapse;
}
.home nav a.slink:nth-child(2) {
  animation-delay: 0.4s;
}
.home nav a.slink:nth-child(3) {
  animation-delay: 0.6s;
}
.home nav a.slink:nth-child(4) {
  animation-delay: 0.8s;
}
.home nav a.slink:nth-child(5) {
  animation-delay: 1.0s;
}
.home nav a.slink:nth-child(6) {
  animation-delay: 1.2s;
}
.home nav a.slink:nth-child(7) {
  animation-delay: 1.4s;
}
.home nav a.slink:nth-child(8) {
  animation-delay: 1.6s;
}
.home nav a.slink:nth-child(9) {
  animation-delay: 1.8s;
}
.home nav a.slink:nth-child(10) {
  animation-delay: 2.0s;
}

.js-enabled .home .riser {
  /* visibility: hidden; */
}
.no-js .home .riser {
  visibility: visible;
}
.home .riser.risen {
  animation: slideFadeUp 2s;
  animation-fill-mode: forwards;
  /* will-change:transform; */
}
#notification {
    position:fixed;
    text-align: center;
    min-height:2.4em;
    min-width:110%;
    left:-5%;
    background:#556ba6;
    overflow:hidden;
    display:block;
    border-bottom: 1px solid #fff;
}
.home #notification {
  /*#animation: slideRight 2s;
  #animation-delay: .5s;
  #animation-fill-mode: forwards;
  #animation-duration: 2s;*/
  /* will-change: transform; */
  /*visibility: collapse;*/
}

#notification .message {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 0.6em;
    font-weight: bold;
    letter-spacing: 0.25em;
    padding: 1.3em 0;
    position: relative;
    text-transform: uppercase;
}
#notification .message a{
  color:#fff !important;
}
#notification .message a:hover{
  color:var(--accent-light) !important;
}
.panel {
  padding-top: 5em;
  padding-bottom: 2em;
}
.panel.style-0 {

}
.panel.style-1 {
  background: #001e50;
  background-attachment: fixed;
  background-image: url("/images/boardblue-s.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto;
  background-position: left bottom;
  color:#fff;
}
.panel.style-1 a {
  color:#fff !important;
}
.panel.style-2 {
  margin-top:0;
  background:#001048;
  color:rgba(255,255,255,.5);
}
.panel.style-2 a{
  color:rgba(255,255,255,.5) !important;
}
.panel.style-2 a:hover {
  color:rgba(255,255,255) !important;
}
.panel .inner {
  max-width:60em;
  margin:auto;
  overflow: hidden;
}
#intro {
  text-align: center;
  z-index:-1;
  margin-top:2em;
}
#intro img {
  padding-top:2em;
}
#intro .welcome-content {
  max-width:35em;
  padding-top:2em;
  margin:auto;
}
#intro h1 {
  font-size:1.5em;
  margin:auto;
  text-align: center;
}
#intro .contact-links {
  padding-top:2em;
  font-family: "Josefin Sans";
  letter-spacing: 0.25em;
  font-weight: 700;
  font-size: 1em;
}
#intro .contact-links .button {
  margin:auto;
  margin-bottom:1em;
  padding:0.7em 2.4em 0.6em;
  color:#000 !important;
  text-transform: none !important;
  font-size:1em !important;
  line-height: 1.75em;
}
.button {
  border:1px solid #666;
  border-radius:3em;
  display:block;
  margin-bottom:1em;
  width:max-content;
  padding:0.7em 2.4em 0.6em;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  letter-spacing: 0.25em;
  font-weight: 700;
  font-size: 0.5em;
  line-height: 2.75em;
  color:#000;
}
.button:hover {
  background:rgba(200,200,200,0.2);
}
.panel.style-0 .button {
  color:#000 !important;
}
.panel.style-1 .button,
.panel.style-2 .button {
  color:#fff !important;
}
.next-section {
  margin: auto;
  /* animation: slowbounce 3s linear infinite; */
  transform: translate3d(0,0,0);
  /* will-change: transform; */
  text-align: center;
  position:relative;
  /* background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI2IDI2IiBoZWlnaHQ9IjI2cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAyNiAyNiIgd2lkdGg9IjI2cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwb2x5Z29uIGZpbGw9IiMyMzFGMjAiIHBvaW50cz0iMC4wNDYsMi41ODIgMi4xMywwLjQ5OCAxMi45NjcsMTEuMzM0IDIzLjgwMywwLjQ5OCAyNS44ODcsMi41ODIgMTIuOTY3LDE1LjUwMiAgIi8+PHBvbHlnb24gZmlsbD0iIzIzMUYyMCIgcG9pbnRzPSIwLjA0NiwxMy41ODIgMi4xMywxMS40OTggMTIuOTY3LDIyLjMzNCAyMy44MDMsMTEuNDk4IDI1Ljg4NywxMy41ODIgMTIuOTY3LDI2LjUwMiAgIi8+PC9nPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position: center center;
  height:96px;
  color:#001e50;
  background-size:32px 32px; */
}
.next-section a span.flash {
  width:92px;
  position:relative;
  display:inline-block;

}
.next-section a span.flash::after {
  font-size: 6em;
  content: "\21AF";

  /* content: "\1F893"; */

}
.next-section a span.flash.dim {
  /* left:45px; */
}
.next-section a span.flash.bright {
  margin-left:-92px;
  position:absolute;
  overflow:hidden;
  height:0;
  width:92px;
  transition: height 1.0s;
  border-radius:50%;
}
.next-section a span.flash.dim::after {
  color:rgba(0,30,80,0.25);

}

.next-section a span.flash.bright::after {
  color:rgba(0,30,80,0.85);
}

.next-section a:hover span.flash.bright {
  height:178px;
}


.section-bottom-links {
  display:block;
  overflow: hidden;
}
.section-bottom-links a {
  float:left;
}
.section-bottom-links a:last-child {
  float:right;
}
.section-bottom-links::after {
  clear:both;
}
#whatwedo {
  display:flex;
  flex-wrap: wrap;
  border-radius: .25em;
  border: solid 1px rgba(255,255,255,.15);
  background: rgba(255,255,255,5%);
  margin: 0 0 2em;

}
#whatwedo article {
  width: 50%;
  position:relative;
  display:block;
  box-sizing: border-box;
  border-right: solid 1px rgba(255,255,255,.15);
  border-top: solid 1px rgba(255,255,255,.15);
  padding-right:1em;
}
#whatwedo article a {
    color:var(--light-accent) !important;

}
#whatwedo article:first-child{
  border-top: none;
}
#whatwedo article:nth-child(2){
  border-right: none;
  border-top:none;
}
#whatwedo article:last-child{
  border-right: none;
}
#whatwedo article h3 {
  padding-left:5em;
  font-size:1.2em;
}
#whatwedo article p {
  padding-left:6.3em;
  padding-right:4em;
}
#whatwedo .icon {
  position: absolute;
  left: 2em;
  top: 2em;
  width:2.5em;
  height:2.5em;
  display:block;
  background:#fff;
}
#whatwedo .icon{
  mask-image:url("/images/icons.svg");
  -webkit-mask-image:url("/images/icons.svg");
  mask-size:300%;
  -webkit-mask-size:300%;
  mask-clip:fill-box;
  -webkit-mask-clip:fill-box;
  mask-repeat:no-repeat;
  -webkit-mask-repeat:no-repeat;
}
#whatwedo .icon.major::before {
    color:#1f4087;
}
#whatwedo .icon.computer {
  mask-position: 0 50%;
  -webkit-mask-position: 0 50%;
}
#whatwedo .icon.security {
  mask-position: 0 0;
  -webkit-mask-position: 0 0;
}
#whatwedo .icon.network {
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
}
#whatwedo .icon.backup {
  mask-position: 50% 0;
  -webkit-mask-position: 50% 0;
}
#prices {
  border: solid 1px rgba(200, 200, 200, 0.65);
  border-radius:.25em;
  background:rgba(245,255,255, 0.15);
  overflow:hidden;
  margin-bottom:1em;
}
#prices .price-box {
  text-align:center;
  float:left;
  color:#333;
  position:relative;
  width:33.3333%;
  height:33.3333%;
  border-left: solid 1px rgba(200, 200, 200, 0.65);
  box-sizing:border-box;
  min-height:22em;
}
#prices .price-box .price-header h3 {
  margin-bottom:0;
}
#prices .price-box:first-child{
  border-left:none;
}
#prices .price-box:last-child {
  border-right:none;
  border-left:none;
}
#prices .price-box:last-child {
  border-top: solid 1px rgba(200, 200, 200, 0.65);
  width:100%;
}
#prices .price-box .price-content {
    padding:0 2em 0;
    overflow:hidden;
}
#prices .price-box .price-total {
    padding-bottom:1em;
    display:block;
    position: absolute;
    bottom:0;
    text-align: center;
    width:100%;
    overflow:hidden;
}
#prices .price-box .price-total h3 {
  margin-bottom:0;
  font-weight:lighter;
}
#contact label {
  font-size: 1.2em;
}
#contact .split {
  display:flex;
  flex-wrap: wrap;
}
#contact .split section {
  box-sizing: border-box;
}
#contact .split section:first-child {
  width:65%;
  border-right:dashed 1px rgba(255, 255, 255, 0.2);
}
#contact .split section:last-child {
  width:35%;
}
#contact input,
#contact textarea {
  background:rgba(200,200,200,0.55);
  border:1px solid rgba(255,255,255,0.2);
}
#contact button {
  font-size:0.7em;
  cursor:pointer;
  background:none;
}
#contact button:hover {
  background:rgba(200,200,200,0.2);
}
#contact ul.contact-list{
  list-style-type: none;
}
#contact ul li h3{
  font-size:1.4em;
}
#contact ul li a{
  font-size:1.2em;
  box-sizing: content-box;
}
#contact a::after {
  display:block;
  position: relative;
  overflow:hidden;
  border-bottom:1px solid #fff;
  max-width:10%;
  content:"";
  display:block;
  box-sizing: border-box;
  transition: max-width 0.7s;
}
#contact a:hover::after {
  max-width:50%;
}

.no-js .elink .phone::before{
  content:"\0030\0031\0033\0039\0032\0020\0033\0034\0036\0020\0033\0034\0030";
}
.no-js .elink .email::before{
  content: '\0069\006E\0066\006F\0040\0077\0069\006C\0064\0065\002D\0069\0074\002E\0063\006F\002E\0075\006B';
}
footer {
  display: flex;
  flex-wrap: wrap;
}
footer section {
  box-sizing: border-box;
  float:left;
  width:25%;
  text-align:left;
}
footer::after {
  clear:both;
}
footer.panel .inner {
  width:100%;
  max-width:80em;
}
footer .site-index {
  width:33%;
}
footer .site-index a::after {
  display:block;
  position: relative;
  overflow:hidden;
  border-bottom:1px solid rgba(255,255,255,.5);
  max-width:10%;
  content:"";
  transition: max-width 0.7s, border-color 0.7s;
  padding-bottom:0.1em;
  margin-bottom:0.4em;
}
footer .site-index a:hover::after {
  max-width:50%;
  border-color:#fff;
}
footer .limit-width-30 {
  width:35%;
}
footer .blurb {
    width:50%;

}
footer .friends {
  margin-left:1%;
  float:right;
  vertical-align:bottom;
  bottom:0;
  width:45%;
  line-height:3em;
}
footer .friends li {
  text-align:right;
}
footer .friends img {
 max-width:12em;
}
footer .icon {
  background:url("/images/icons.svg");
  background-size:300%;
  background-repeat: no-repeat;
  float:right;
  margin-right:0.7em;
  transition: transform 0.5s, filter 1s;
    filter: grayscale(1)
}
footer .icon.fediverse{
  background:url("/images/foss/fediverse.png");
  background-size:100%;
  display: block;
  width: 32px;
  height: 32px;
  background-position: 100% 0 ;
}
footer .icon.git{
  background:url("/images/foss/git.png");
  background-size:100%;
  display: block;
  width: 32px;
  height: 32px;
  background-position: 100% 0 ;
}
footer .icon.chat{
  background:url("/images/chat.png");
  background-size:100%;
  display: block;
  width: 32px;
  height: 32px;
  background-repeat:no-repeat;
  background-position: 100% 0 ;
}
footer .icon:hover {
    /*transform: scale(1.1);*/
    filter: grayscale(0)

}

footer ul {
  list-style-type: none;
  margin-left:0;
  padding-left:0;
}
footer {
  display: flex;
  flex-wrap:auto;
}

main.section .inner,
main.page .inner {
  padding:2em;
  padding-top:0.5em;
  background:rgba(255,255,255,0.92);
}
main.section section,
main.page section {
  margin-top:5em;
  padding-top:3em;
}
main.section section#lastmod,
main.page section#lastmod {
    margin-top:0;
    padding-top:0;
}
#privacy-policy ol {
    list-style-type: none;
    counter-reset: item;
    padding-left:0;
    padding-right:5em;
}
#privacy-policy ol li {
    display: table;
    counter-increment: item;
    margin-bottom:0.5em;
}
#privacy-policy ol li:before {
    content: counters(item, ".") ": ";
    display: table-cell;
    width:2em;
}
#privacy-policy li ol  {
  padding-left:1em;
  margin-bottom:1em;
  margin-top:0.5em;
}
#privacy-policy li ol li ol li {
  margin-bottom:0;
}
#privacy-policy li ol > li:before {
    content: counters(item, ".") "";
}
#foss-list {
  width:100%;
}
#foss-list .foss-item {
  width:20%;
  text-align: center;
  float:left;
  box-sizing: border-box;
  padding-left:1.5em;
  min-height:16em;
}
#foss-list .foss-item .foss-link .foss-image img {
	margin-top:1em;
  height:5.5em;
  transition: transform 0.5s;
  max-width:100%;
}
#foss-list .foss-item .foss-link:hover .foss-image img {
	transform: scale(1.3);
}
#foss-list .foss-item .foss-link .foss-title h3 {
  transition: color 0.5s;
  font-size:1em;
  color:var(--text) !important;
  margin-top:0;
}
#foss-list .foss-item .foss-link:hover .foss-title h3 {
  color:#a3a3a3 !important;
}
#foss-list .foss-item .foss-text p {
  font-size:0.7em;
}
#rescue .osbox {
  border: 1px solid #001048;
  padding:1em;
  display:block;
  width:auto;
  height:8em;
  float:left;
  margin-right:3em;
  color:var(--text) !important;
  transition:background-color 0.5s;
}
#rescue .osbox:hover {
  background:rgba(200,200,200,0.3);
}
#rescue .osbox img {
  margin:auto;
  display: block;
  width: 50%;
}
#rescue .osbox h3 {
  margin-bottom:0;
  padding-bottom:0;
}

ul.pagination {
  margin:auto;
  display:block;
  text-align:center;
}
ul.pagination li {
  display:inline-block;
  margin-right:0.5em;
  border-radius: 0.2em;
  transition:all 0.5s;
}
ul.pagination li:hover {
  background:#ccc;
}
ul.pagination li a {

  padding:0.2em 0.5em;
  color:var(--text);
}
ul.pagination li:hover a {
  color:#555;
}
ul.pagination li.active a {
  font-weight: bold;
}
ul.pagination li.disabled a {
  color:#ccc;
}
ul.pagination li.disabled:hover {
  background: none;
  color:var(--text) !important;
}
code {
    background: #212176;
    padding:2px;
    padding-left:4px;
    padding-right:4px;
    border-radius:4px;
    font-weight:bold;
    color:#d3c610;

}
